a {
    text-decoration: none;
}

@media screen and (min-width: 651px) {
    .search-box {
        width: 560px;
    }
    .search-box form {
        width: 560px;
        float: left;
    }
    .search-input {
        width: 520px;
    }
}

@media screen and (max-width: 650px) {
    .search-box {
        width: 85%;
    }
    .search-box form {
        width: 100%;
        float: left;
    }
    .search-input {
        width: calc(100% - 40px);
    }
}

.search-box{
    margin-top: 50px;
    margin-bottom: 40px;
    position: relative;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-input{
    height: 30px;
    margin: 0px;
    font-size: 1.1rem;
    padding: 0;
    float: left;
    background: transparent;
    border: none;
    outline: none;
}

.search-submit{
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: 10px;
    float: left;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.search-reminder{
    margin-left: 5%;
}

.search-result{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    color: rgb(60, 60, 60);
    background-color: rgb(204, 204, 204);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    text-align: justify;
}

.search-result-title{
    color: rgb(83, 83, 83);
}

.search-no{
    text-align: center;
    color: rgb(90, 90, 90);
}

.pagination{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(90, 90, 90);
}