a {
    text-decoration: none;
}

body {
    visibility: hidden;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-image: linear-gradient(rgb(31, 44, 87), rgb(42, 96, 100), rgb(0, 0, 0));
    overflow-x: hidden;
    overflow-y: scroll;
}

.header {
    height: 100vh;
    width: 100%;
    position: fixed;
    text-align: center;
}

.header img {
    margin: 20px;
    height: 60px;
    float: left;
}

.header h1 {
    margin-top: calc(50vh - 140px);
    width: 100%;
    height: 50px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
}

.scroll-btn {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 80px;
    left: 0;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    -webkit-animation: float 5s linear infinite;
    animation: float 1.5s linear infinite;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}

.scroll-btn:hover {
    color: rgba(255, 255, 255, 0.5);
}

@keyframes float {
    0% {transform: scale(1.2);}
    50% {transform: scale(1.0);}
    100%{transform: scale(1.2);}
}
@-webkit-keyframes float {
    0% {transform: scale(1.2);}
    50% {transform: scale(1.0);}
    100%{transform: scale(1.2);}
}

.main-content {
    float: left;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100vh;
}

.intro-box {
    position: relative;
    float: left;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
}

@media screen and (min-width: 701px) {
    .intro-box {
        height: 400px;
        width: 31.333%;
        margin: 1%;
    }
    .intro-box .bg {
        padding-top: 130px;
    }
    .header h1 {
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 700px) {
    .intro-box {
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
    }
    .intro-box .bg {
        padding-top: 100px;
    }
    .header h1 {
        font-size: 2.2rem;
    }
}

.intro-box .bg {
    position: absolute;
    width: 100%;
    height: 280px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}

.intro-box .bg:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.bg h2 {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 1.7rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
}

.contact {
    width: 100%;
    height: 50vh;
    float: left;
}

.contact p{
    margin-top: 25vh;
    text-align: center;
    width: 100%;
    height: 30px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}