{% extends '_common.html' %}

{% block title %}Frankly Lying | {{Note.title}}{% endblock %}

{% block link %}
	<link rel="stylesheet" href="{% static 'articles/articles.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="article-outer-container">
<div class="article-head">{{Note.title}}</div>

<p class="article-date">{{Note.pub_date}}</p>

<div class="article-content">
    {% autoescape off %}
    {{Note.body}}
    {% endautoescape %}
</div>
<div class="article-edit">
    <a href="admin/note/note/{{Note.id}}/change/">Edit / Share</a>
</div>
</div>
{% endblock %}