{% extends '_common.html' %}

{% block title %}Frankly Lying | Recent{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'recent/recent.css' %}" type="text/css">
{% endblock %}

{% block content %}
        <div class="image-header recent-image">
            <p class="title-text head-text">
                rFactor F1 2019 Mod<br />
                <br />
                RELEASED
                <br />
            </p>
        </div>
        <div style="text-align: center; width: 100%; height: 100px; position: relative; float: left; margin-top: 50px;">
            <a href="https://mega.nz/#!rRVTCKLS!zo2diR1KrzTHeJuKlR2dnw0grNrJnuGN3Be2NrTSlNo">
                <button class="intro-button">
                    Download
                </button>
            </a>
        </div>
{% endblock %}