<!DOCTYPE html>
<html lang="en">

<head>
    <title>Frank's Artwork Collection</title>
    <meta name="description" content="Frank's Artwork Collection: Watch & Download.">
    <meta name="keywords" content="FL Artwork Download Frankly lying Franklylying Franklying">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="bookmark" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="download.css" type="text/css">
    <link rel="stylesheet" href="aos.css" type="text/css">
</head>

<body>
    <div class="header">
        <a href="index.html">
            <img src="img/logo_download.svg" />
        </a>
        <h1>
            Frank's Artwork Collection
        </h1>
        <button class="scroll-btn">
            ︾
        </button>
    </div>
    <div class="main-content">
        <div class="intro-box" data-aos="fade-up" data-aos-delay="0">
            <a href="DL_painting.html">
                <div class="bg" style="background-image: url(img/painting.jpg);">
                    <h2>Painting</h2>
                </div>
            </a>
        </div>
        <div class="intro-box" data-aos="fade-up" data-aos-delay="100">
            <a href="DL_album.html">
                <div class="bg" style="background-image: url(img/album.jpg);">
                    <h2>Album Art</h2>
                </div>
            </a>
        </div>
        <div class="intro-box" data-aos="fade-up" data-aos-delay="200">
            <a href="DL_poster.html">
                <div class="bg" style="background-image: url(img/poster.jpg);">
                    <h2>Film Poster</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="contact">
        <p>© 2019-2020 <a href="https://franklylying.site" style="color: rgba(255,255,255,0.6);">Frankly Lying</a></p>
    </div>
    <script src="jquery.min.js"></script>
    <script src="download.js"></script>
    <script src="aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine',
            duration: 800,
            delay: 100,
        });
    </script>
</body>

</html>